<h1>Edit Picture</h1>

<%= form_for @picture do |f| %>

<div id=none>
    <p class="new_box_combo">
      <%= f.label :artist, class: "new_field"%>
      <%= f.text_field :artist, class: "new_box"%>
    </p>
    <p class="new_box_combo">
      <%= f.label :title, class: "new_field"%>
      <%= f.text_field :title, class: "new_box"%>
    </p>

    <p class="new_box_combo">
      <%= f.label :url, class: "new_field"%>
      <%= f.text_field :url, class: "new_box" %>
    </p>

    <p class="new_box_combo" id="save">
      <%= f.submit%>
    </p>
</div>

<img src="<%= @picture.url %>", class="edit_page_pic">


<% end %>


<footer>

  <p class="new_picture"><%= link_to "Back to Home Page", pictures_url %></p>
  <p class="copyright">  &copyEdwin2016 </p>

</footer>
