<%= form_for @picture do |f| %>
  <p class="new_box_combo">
    <%= f.label :artist, class: "new_field"%>
    <%= f.text_field :artist, class: "new_box"%>
  </p>
  <p class="new_box_combo">
    <%= f.label :title, class: "new_field"%>
    <%= f.text_field :title, class: "new_box"%>
  </p>

  <p class="new_box_combo">
    <%= f.label :url, class: "new_field"%>
    <%= f.text_field :url, class: "new_box" %>
  </p>

  <p class="new_box_combo" id="save">
    <%= f.submit "Save"%>
  </p>

  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2> <%= pluralize(@picture.errors.count, "error") %> prohibted this picture from being saved:</h2>
      <ul>
        <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>


<footer>

  <p class="new_picture"><%= link_to "Back to Home Page", pictures_url %></p>
  <p class="copyright">  &copyEdwin2016 </p>

</footer>
