<!DOCTYPE html>
<html>

<head>
  <title>Edwin's Photogur</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1 class="title">welcome to <span class="hello">photogur</span></h1>





<%= yield %>

</body>

<footer>

  <p class="new_picture"><%= link_to "add photo", "/pictures/new" %></p>
  <p class="copyright">  &copyEdwin2016 </p>

</footer>

</html>
